{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block main %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <form action="/account" method="POST">
                <div class="row" id="div_add_flux">
                    {{ form.csrf_token }}
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <h1>Ajouter un flux</h1>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <input type="text" name="name_flux" placeholder="Nom du flux" required>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <input type="text" name="address_flux" placeholder="Lien du flux" required>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <input type="submit" name="valider">
                    </div>
                </div>
            </form>
            <h1>Mes flux :</h1>
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Lien</th>
                    <th>Consulter</th>
                    <th>Supprimer</th>
                </tr>
                {% for flux in fluxUser %}
                <tr>
                    <td>
                        <p>{{ flux.name }}</p>
                    <td>
                        <p>{{ flux.flux }}</p>
                    </td>
                    <td>
                        <a href="/myflux?id_flux={{ flux.id }}"><img src="/static/img/show.png"></a>
                    </td>
                    <td>
                        <a href="/deleteflux?id_flux={{ flux.id }}"><img src="/static/img/delete.png"></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
{% endblock %}
