<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}Des Ynfos</title>
        <meta charset="utf8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap-reboot.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 text-left">
                        <a href="/"><img src="../static/img/news.png"></a>
                    </div>
                    {% if current_user.is_authenticated %}
                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 text-right">
                            <a href="/account" class="header_link">Mon compte</a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 text-right">
                            <a href="/logout" class="header_link">Se déconnecter</a>
                        </div>
                    {% else %}
                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 text-right">
                            <a href="/login" class="header_link">Se connecter</a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 text-right">
                            <a href="/register" class="header_link">S'inscrire</a>
                        </div>
                    {% endif %}
                </div>
            </div> 
        </header>
        <main>
            <div class="container">
                <div class="row">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                        <p>Lien utiles :</p>
                        <li><a href="">Se connecter</a></li>
                        <li><a href="">Flux</a></li>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
